<!doctype html>
<html lang="en">

<div th:replace="fragments/head"></div>

<body>

	<div th:replace="fragments/navbar"></div>

	<main>
		<div class="container" align="center">
			<h1 class="newAdd">Crear nuevo anuncio</h1>

			<div class="formBackground d-flex justify-content-center align-items-center">
				<form th:action="@{formAnuncio}" method="POST">
				
					<div class="form-group">
						<label class="formLabel d-flex justify-content-start" for="juego">Nombre del juego</label>
						<input type="text" id="juego" class="formInput form-control" name="juego" placeholder="Ajedrez" required>
					</div>

					<div class="form-group">
						<label class="formLabel d-flex justify-content-start" for="max_personas">Plazas disponibles</label>
						<input type="number" class="formInput form-control" name="max_personas" placeholder="1" required>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn submitForm">Crear</button>
					</div>
					
				</form>
			</div>
		</div>
	</main>
	
</body>

</html>