<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments/head"></div>

<body>
	<div th:replace="fragments/navbar"></div>
	<main class="landingPage vh-100">

		<div class="container-fluid pt-5 pb-5" style="background-color: #F7F7F7;">
			<h1 class="text-center fw-bold" th:text="${anuncio.juego}"></h1>
			<p th:if="${#strings.toUpperCase(anuncio.estado)} == 'PENDIENTE'" class="text-center fs-5"
				th:text="${#strings.toUpperCase(anuncio.estado)}" style="font-weight: 500; color: green;"></p>
			<p th:if="${#strings.toUpperCase(anuncio.estado)} == 'FINALIZADO'" class="text-center fs-5"
				th:text="${#strings.toUpperCase(anuncio.estado)}" style="font-weight: 500; color: red;"></p>
			<p th:if="${#strings.toUpperCase(anuncio.estado)} == 'EMPEZADO'" class="text-center fs-5"
				th:text="${#strings.toUpperCase(anuncio.estado)}" style="font-weight: 500; color: orange;"></p>
		</div>

		<div th:if="${success} or ${error}" class="row justify-content-center">
			<div class="alert alert-success col-md-6" id="alertMessage" role="alert" th:text="${success}"
				th:if="${success}"></div>
			<div class="alert alert-danger col-md-6" id="alertMessage" role="alert" th:text="${error}" th:if="${error}">
			</div>
		</div>

		<div class="container" align="center">
			<div class="row justify-content-center align-items-center w-75 mt-4 m-3">

				<h5>La partida ha empezado, asegúrate de ponerte en contacto con el resto de jugadores a través de Discord</h5>

				<div class="row align-items-center rounded-3 w-75 p-3 mb-5 mt-4"
					style="background-color: white; font-size: 20px;">
					<div class="col-md-4 text-md-start">
						<a class="link-dark fw-bold" th:href="@{/verUsuario?id={id}(id=${anuncio.anunciante.id})}"
							th:text="${anuncio?.anunciante?.nombre}"></a>
						<i class="fa-solid fa-crown text-md-end" style="color: #E2C044;"></i>
					</div>
					<div class="col-md-4 text-md-center">
						<span class="my-auto" th:text="${media}"></span>
						<i class="rating_star_solo fa-star fas"></i>
						<span class="fw-light my-auto" style="color:grey;" th:text="'('+ ${contValor} + ')'"></span>
					</div>
					<div th:if="${anuncio.anunciante.id} == ${idUsuario} or ${estadoUsuario} == 'aceptado'"
						class="col-md-4 text-md-end">
						<i class="fa-brands fa-discord text-md-end" style="color: #5865F2;"></i> <span
							class="fw-light my-auto" style="color: #A3A3A3;"
							th:text="${anuncio?.anunciante?.discord}"></span>
					</div>
				</div>

				<div th:each="participante: ${anuncio.participacion}" th:object="${participante}"
					th:if="${participante.estado_solicitud} == 'aceptado'"
					class="row align-items-center rounded-3 w-75 p-3 m-3"
					style="background-color: white; font-size: 20px;">
					<div class="col-md-6 text-md-start">
						<a class="link-dark fw-bold my-auto"
							th:href="@{/verUsuario?id={id}(id=${participante.usuario.id})}"
							th:text="${participante.usuario.nombre}"></a>
					</div>
					<div th:if="${anuncio.anunciante.id} == ${idUsuario} or ${estadoUsuario} == 'aceptado'"
						class="col-md-6 text-md-end">
						<i class="fa-brands fa-discord text-md-end" style="color: #5865F2;"></i> <span
							class="fw-light my-auto" style="color: #A3A3A3;"
							th:text="${participante.usuario.discord}"></span>
					</div>
				</div>

				<div class="col-md-12 p-3">
					<form>
						<input id="idAnuncio" name="idAnuncio" type="hidden" th:value="${anuncio.id}">
						<button
							id = "send"
							th:if="${anuncio?.anunciante?.id} == ${idUsuario} AND ${#strings.toUpperCase(anuncio.estado)} == 'EMPEZADO'"
							class="btn btn-lg btn-primary rounded-pill border-0" style="background-color: #E2C044;"  type ="submit">
							<i class="fa-solid fa-circle-xmark"></i>
							<span class="my-auto">Terminar anuncio</span>
							</button>
					</form>
					
				</div>

				<div th:if="${success} or ${error}" class="row justify-content-center mt-3">
					<div class="alert alert-success col-md-6" id="alertMessage" role="alert" th:text="${success}"
						th:if="${success}"></div>
					<div class="alert alert-danger col-md-6" id="alertMessage" role="alert" th:text="${error}"
						th:if="${error}">
					</div>
				</div>

			</div>
		</div>


	</main>

	<script>
		setTimeout(function () {
			$('#alertMessage').fadeOut('slow');
		}, 2000); //Time in milliseconds
	</script>

</body>

</html>