<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments/head"></div>

<body>
	<div th:replace="fragments/navbar"></div>
	<main class="landingPage vh-100">

		<div class="container-fluid pt-5 pb-5" style="background-color: #F7F7F7;">
			<h1 class="text-center fw-bold" th:text="${anuncio.juego}"></h1>
			<p th:if="${#strings.toUpperCase(anuncio.estado)} == 'PENDIENTE'" class="text-center fs-5"
				th:text="${#strings.toUpperCase(anuncio.estado)}" style="font-weight: 500; color: green;"></p>
			<p th:if="${#strings.toUpperCase(anuncio.estado)} == 'FINALIZADO'" class="text-center fs-5"
				th:text="${#strings.toUpperCase(anuncio.estado)}" style="font-weight: 500; color: red;"></p>
		</div>

		<div th:if="${success} or ${error}" class="row justify-content-center">
			<div class="alert alert-success col-md-6" id="alertMessage" role="alert" th:text="${success}"
				th:if="${success}"></div>
			<div class="alert alert-danger col-md-6" id="alertMessage" role="alert" th:text="${error}" th:if="${error}">
			</div>
		</div>

		<div class="container" align="center">
			<div class="row justify-content-center align-items-center w-75 mt-4 m-3">
			
			
				<div class="col-md-4 text-md-start">
					<button th:if="${anuncio?.anunciante?.id} == ${idUsuario}"
						class="btn btn-lg btn-primary rounded-pill border-0" data-bs-toggle="modal"
						data-bs-target="#exampleModal" style="background-color: #E2C044;">
						<i class="fa fa-trash"></i>
						<span class="my-auto">Eliminar Anuncio</span>
					</button>
				</div>

				<div class="col-md-4">
					<h1 class="fw-bold text-md-end">Participantes</h1>
				</div>

				<div class="col-md-4 text-md-end">
					<button th:if="${anuncio?.anunciante?.id} == ${idUsuario}"
						class="btn btn-lg btn-primary rounded-pill border-0" data-bs-toggle="modal"
						data-bs-target="#verSolicitudesModal" style="background-color: #E2C044;">
						<i class="fa fa-user-group"></i>
						<span class="my-auto">Ver Solicitudes</span>
					</button>

					<button th:if="${anuncio?.anunciante?.id} != ${idUsuario}"
						class="btn btn-lg btn-primary rounded-pill border-0" data-bs-toggle="modal"
						data-bs-target="#enviarSolicitudModal" style="background-color: #E2C044;">
						<i class="fa fa-paper-plane" aria-hidden="true"></i>
						<span class="my-auto">Enviar Solicitud</span>
					</button>
				</div>
			</div>

			<div class="row align-items-center rounded-3 w-75 p-3 mb-5 mt-4"
				style="background-color: white; font-size: 20px;">
				<div class="col-md-6 text-md-start">
					<span class="fw-bold my-auto" th:text="${anuncio?.anunciante?.nombre}"></span> <i
						class="fa-solid fa-crown text-md-end" style="color: #E2C044;"></i>
				</div>
				<div th:if="${anuncio.anunciante.id} == ${idUsuario} or ${#lists.contains(listaParticipantes, idUsuario)}"
					class="col-md-6 text-md-end">
					<i class="fa-brands fa-discord text-md-end" style="color: #5865F2;"></i> <span
						class="fw-light my-auto" style="color: #A3A3A3;"
						th:text="${anuncio?.anunciante?.discord}"></span>
				</div>
			</div>

			<div th:each="participante: ${anuncio.participacion}" th:object="${participante}"
				th:if="${participante.estado_solicitud} == 'aceptado'"
				class="row align-items-center rounded-3 w-75 p-3 m-3" style="background-color: white; font-size: 20px;">
				<div class="col-md-6 text-md-start">
					<span class="fw-bold my-auto" th:text="${participante.usuario.nombre}"></span>
				</div>
				<div th:if="${anuncio.anunciante.id} == ${idUsuario} or ${#lists.contains(listaParticipantes, idUsuario)}"
					class="col-md-6 text-md-end">
					<i class="fa-brands fa-discord text-md-end" style="color: #5865F2;"></i> <span
						class="fw-light my-auto" style="color: #A3A3A3;"
						th:text="${participante.usuario.discord}"></span>
				</div>
			</div>
			<div class="col-md-12 p-3">
				<form th:action="@{/terminarAnuncio}" method="POST">
					<input id="id" name="id" type="hidden" th:value="${anuncio.id}">
					<button
						th:if="${anuncio?.anunciante?.id} == ${idUsuario} AND ${#strings.toUpperCase(anuncio.estado)} == 'PENDIENTE'"
						class="btn btn-lg btn-primary rounded-pill border-0" style="background-color: #E2C044;">
						<i class="fa-solid fa-circle-xmark"></i>
						<span class="my-auto">Terminar anuncio</span>
				</form>
				</button>
			</div>
		</div>
	</main>

	<!-- Modal -->
	<div th:replace="fragments/modalEliminarAnuncio"></div>
	<div th:replace="fragments/modalEnviarSolicitud"></div>
	<div th:replace="fragments/modalVerSolicitudesAcceso"></div>

	<script>
		setTimeout(function () {
			$('#alertMessage').fadeOut('slow');
		}, 1500); //Time in milliseconds
	</script>
</body>

</html>