<!doctype html>
<html lang="en">

<div th:replace="fragments/head"></div>

<body>
	<div th:replace="fragments/navbar"></div>
	<main class="landingPage vh-100">
		<div class="fullWidthHeaderSmall">
			<div class="row align-middle">
				<div class="col-2">
					<a href="/" class="btn rounded-pill searchBar searchButton"><i
							class="fa-solid fa-left-long fa-2x"></i></a>
				</div>
				<div class="col-8">
					<div class"row gy-2">
						<div class="col-12">
							<h1 class="welcomePhraseSmall" align="center" th:text="${anuncio.juego}"></h1>
						</div>
						<div class="col-12" th:switch="${anuncio.estado}">
							<h5 class="welcomePhraseSmall" align="center" th:case="'Pendiente'" style="color: green">
								PENDIENTE</h5>
							<h5 class="welcomePhraseSmall" align="center" th:case="'en_lobby'" style="color: orange">EN
								LOBBY</h5>
							<h5 class="welcomePhraseSmall" align="center" th:case="'Finalizado'" style="color: red">
								FINALIZADO</h5>

						</div>
					</div>
				</div>
				<div class="col-2">
					<!-- Button trigger modal -->
					<a title="EnviarAnuncio" class=" open-Solicitud btn rounded-pill searchBar searchButton"
						data-toggle="modal" data-target="#enviarSolicitudModal">
						Unirse
					</a>

				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="alert alert-success col-6" role="alert" th:text="${success}" th:if="${success}"></div>
			<div class="alert alert-danger col-6" role="alert" th:text="${error}" th:if="${error}"></div>
		</div>
		<div class="container contDescAnuncio">

			<div class="row gy-4">

				<div class=" col-12">
					<div class="row gy-3">
						<div class=" col-12">
							<div class="row align-items-center">
								<div class="col-10">
									<h5 class="welcomePhraseSmall" align="left">Propietario</h5>
								</div>
								<div class="col-2">
									<button class="btn rounded-pill numPlayersAnuncio"
										th:text="${anuncio.personas_actuales}+'/'+${anuncio.max_personas}"></button>
								</div>
							</div>
						</div>
						<div class=" col-12 d-flex justify-content-center">
							<div class="row justify-content-center">
								<div class="col-6">
									<label class="detailsUserAnuncioP" th:text="${anuncio?.anunciante?.nombre}"></label>
								</div>
								<div class="col-6">
									<label class="detailsUserAnuncioP"
										th:text="${anuncio?.anunciante?.discord}"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class=" col-12">
					<div class="row gy-3">
						<div class=" col-12">
							<div>
								<h5 class="welcomePhraseSmall" align="left">Participantes</h5>
							</div>
						</div>
						<div class=" col-12">
							<div class="row gy-3">
								<div class="col-12 d-flex justify-content-center"
									th:each="participante: ${anuncio.participacion}" th:object="${participante}"
									th:if="${participante.estado_solicitud} == 'aceptado'">

									<div class="row justify-content-center">
										<div class="col-6">
											<label class="detailsUserAnuncio"
												th:text="${participante.usuario.nombre}"></label>
										</div>
										<div class="col-6">
											<label class="detailsUserAnuncio"
												th:text="${participante.usuario.discord}"></label>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
	<!-- Modal -->
	<div class="modal fade" id="enviarSolicitudModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" th:text="${anuncio.juego}"></h5>
				</div>
				<div class="modal-body" th:text="'¿Estás seguro de que quieres enviar esta solicitud a '+${anuncio.juego}+'?'">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>