<!doctype html>
<html lang="en">

<div th:replace="fragments/head"></div>

<body>
	<div th:replace="fragments/navbar"></div>

	<main class="landingPage">
		<div class="fullWidthHeader">
			<h1 class="welcomePhrase" align="center">¿A qué te apetece jugar hoy?</h1>
		</div>
		
		<div class="row">
			<div class="alert alert-success col-6" role="alert" th:text="${success}" th:if="${success}"></div>
			<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>
						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
				<div class="col-3 d-flex justify-content-center">
					<div class="addCard card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of
								the card's content.</p>
							<a href="#" class="detailsButton btn">Ver detalles</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>