<!DOCTYPE html>

<html>

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Button trigger modal -->
  <a title="EnviarAnuncio" class="open-Solicitud btn btn-primary" data-toggle="modal" data-target="#enviarSolicitudModal">
    Enviar solicitud
  </a>

  <!-- Modal -->
  <div class="modal fade" id="enviarSolicitudModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">"Título del anuncio"</h5>
        </div>
        <div class="modal-body">
          ¿Estas seguro de que quieres enviar esta solicitud a "nombre del anunciante"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>