<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Eliminar anuncio</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				¿Está seguro de que desea eliminar el anuncio? Este cambio no podrá deshacerse.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				
				<form th:action="@{/borrarAnuncio}" method="POST">
					<input id="idanuncio" name="idanuncio" type="hidden" th:value="${anuncio.id}">
					<button type="button" class="btn btn-danger">Eliminar anuncio</button>
				</form>
			</div>
		</div>
	</div>
</div>